<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
    <style> body {background-color: #ccf5ff;} </style>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

		<div class="jumbotron">
		<div class="container">	
		
			<a th:href="@{/users}">| Show all users </a>
			
		</div>
	</div>

    </div>

</div>
<!-- /.container -->

</body>
</html>