<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8"> </meta>
	<title th:text="${mess}">mocking text</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="templates/style/main.css"></link>
	
    <style> body {background-color: #ccf5ff;}
    
    #galleryContainer {padding: 50px;}
	#galleryContainer img{width: 200px;height:200px;}
	#galleryContainer img:hover{-webkit-transform: scale(2, 2);
	-ms-transform: scale(2, 2);transform: scale(2, 2);transition-duration: 0.9s;
	-webkit-transition-duration: 0.9s; /* Safari */box-shadow: 5px 5px 5px #fefefe;}
    
    </style> 
	
</head>
<body>
	<div class="jumbotron">
		<div class="container">	
			<h2 th:text="${mess}"></h2>
			<a th:href="@{/registration}">Registration |</a>
			<a th:href="@{/main}">| Login </a>
		</div>
	</div>
	
		
		<div id="galleryContainer">
			<img src="/images/proc.jpg" alt="gallery image"></img>
			<img src="/images/karta.jpg" alt="gallery image"></img>
			<img src="/images/komp.jpg" alt="gallery image"></img>
			<img src="images/ram.jpg" alt="gallery image"></img>
			<img src="/images/plyta.jpg" alt="gallery image"></img>
		</div>
              
		
</body>
</html>