<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
	 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
	 <title>Welcome Security with Spring Boot!</title>
 </head>
 <body>
  <div class="jumbotron">
		<div class="container">	

		     <div th:replace="fragments/header :: header"/>
		     
			 <a th:href="@{/addTopic}"> Add new topic |</a>
			 <a th:href="@{/topics}">| Show topics </a>
			 <a th:href="@{/userData}">| User data </a>
			 
      	</div>
    </div>
     
     <br/> 
     
 </body>
</html>