<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
    <style> body {background-color: #ccf5ff;} </style>
</head>
<body>


<div class="container">

    <div class="starter-template">

        <h3 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </form>
    </div>

</div>

	<div class="jumbotron">
		<div class="container">	
		
			<a th:href="@{/admin}">| Admin </a>
			<a th:href="@{/users}">| Users |</a>
			
		</div>
	</div>

	<h3>Statistics</h3>
		<div th:unless="${#lists.isEmpty(users)}">
			<dl th:each="user : ${users}">			
				
				<div class="thumbnail">
				<div class="caption">
					<dt class="bookHeadline">
					
					Login: <span th:text="${user.login}"></span>
					</dt>
					
					<dd class="bookDescription">
						 Posts:<span th:text="${user.posts}" ></span>			
					</dd>							
				</div>
				</div>
				
			</dl>
		</div>
		<div th:if="${#lists.isEmpty(users)}">
			<p>Users content is not available now.</p>
		</div>

</body>
</html>