<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Reading List</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
		
	</head>
	<body>	
		<div class="jumbotron">
			<div class="container">	
		 		<div th:replace="fragments/header :: header"/>
			</div>
		</div>
		
		<h2>All topics</h2>
		<div th:unless="${#lists.isEmpty(topics)}">
			<dl th:each="topic : ${topics}">
				<form action="#" th:action="@{/topic}" th:object="${topic}" method="post">
				
				<div class="thumbnail">
				<div class="caption">
					<dt class="bookHeadline">
					Id: <span th:text="${topic.topicId}"></span>
					
					User: <span th:text="${topic.User.userId}"></span>
					Date: <span th:text="${topic.dateOfCreation}"></span>
					Category: <span th:text="${topic.category}"></span>
					</dt>
					
					<dd class="bookDescription">
						Description <span th:if="${topic.description}" th:text="${topic.description}" ></span>
						No description available <span th:if="${topic.description eq null}"> </span>
					</dd>
					
					<input type="hidden" id="topicId"  name="topicId" th:value="*{topicId}"></input>
					<input type="hidden" id="description" name="description" th:value="*{description}" />
					
					<input type="submit" value="Show details" class="btn btn-info" ></input>
				
				</div>
				</div>
				
				</form>
				
			</dl>
		</div>
		<div th:if="${#lists.isEmpty(topics)}">
			<p>Content is not available now.</p>
		</div>
		
		<form method="POST" action="#" th:action="@{/topics}">
			<label for="login">:</label>
				<input type="hidden" id="start" name="start" th:value="*{start}" />
				
				<input type="submit" value="Next page" class="btn btn-primary"></input>
		</form>	 
		
	</body>
</html>